---
import Layout from "../layouts/Layout.astro";
import { allFeeds } from "../data/parser";
import { getAPIBaseURL } from "../lib/utils";
const API_BASE_URL = getAPIBaseURL(Astro.request.url);

let feeds;
try {
    const res = await fetch(`${API_BASE_URL}/api/fetchFeeds`, {
        method: "GET",
    });
    const { data } = await res.json();
    feeds = await allFeeds(data);
} catch (error) {
    console.log(error)
}
---

<Layout title="Freed - A Collection of Developer RSS Feeds">
    <div id="feed_list">
        {
            feeds?.map((feed) => {
                return (
                    <div class="feed">
                        <h2>
                            <a href={`/feed/${feed.id}`}>{feed.title}</a>
                        </h2>
                        <p>{feed.link}</p>
                        {
                            feed.title === "Syntackle" ? <p>shameless promotion &#10085;</p> : <></>
                        }
                    </div>
                );
            })
        }
    </div>
</Layout>

<style>
    #feed_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem;
        border: 0.3rem solid rgba(201, 125, 96, 0.3);
        border-radius: 1rem;
    }
</style>
