---
import Layout from "../layouts/Layout.astro";
import { allFeeds } from "../data/parser";

const res = await fetch("http://localhost:3000/api/fetchFeeds", {
    method: "GET",
});
const { data } = await res.json();
const feeds = await allFeeds(data);
---

<Layout title="Developer Blogs">
    <main>
        {feeds.map((feed) => feed.title)}
    </main>
</Layout>
