---
import Layout from "../layouts/Layout.astro";
import { allFeeds } from "../data/parser";
import { fetchFeeds } from '../lib/api/fetchFeeds'

import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';

dayjs.extend(relativeTime);

let feeds = null;

try {
    const res = await fetchFeeds({
        method: "GET",
        url: Astro.request.url,
        req: Astro.request
    })
    const { data } = JSON.parse(res)
    feeds = await allFeeds(data)

    const feedsToSort = feeds.filter(f => {
        // @ts-ignore
        return (f.lastBuildDate && f.items.length !== 0 && f.title !== 'Syntackle')
    })
    
    feedsToSort.sort((a, b) => {
        // @ts-ignore
        const lastUpdatedA = a.pubDate || a.lastBuildDate
        // @ts-ignore
        const lastUpdatedB = b.pubDate || b.lastBuildDate
        // @ts-ignore
        return new Date(lastUpdatedB) - new Date(lastUpdatedA);
    })

    feeds = [
        ...feeds.filter(f => f.title === 'Syntackle'),
        ...feedsToSort,
        // @ts-ignore
        ...feeds.filter(f => (f.items.length === 0 || !f.lastBuildDate))
    ]
} catch (error) {
    console.log(error)
}
---

<Layout title="Freed - A Collection of Developer RSS Feeds">
    <div id="feed_list">
        {
            feeds ? feeds?.map((feed) => {
                // @ts-ignore
                const lastUpdated = feed.pubDate || feed.lastBuildDate
                return (
                    <div class="feed">
                        <h2>
                            <a href={`/feed/${feed.id}`}>{feed.title}</a>
                        </h2>
                        <p>{feed.link}</p>
                        {
                            feed.title === "Syntackle" ? <p>shameless promotion &#10085;</p> : <></>
                        }
                        <time datetime={new Date(lastUpdated).toLocaleString('default')}>
                            {
                                dayjs().to(dayjs(lastUpdated))
                            }
                        </time>
                    </div>
                );
            }) : (
                <p>No feeds found!</p>
            )
        }
    </div>
</Layout>

<style>
    #feed_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem;
        border: 0.3rem solid rgba(201, 125, 96, 0.3);
        border-radius: 1rem;
    }
    time {
        opacity: 0.9;
        font-style: italic;
        font-size: 0.75rem;
        padding: 1rem 0 0 0;
    }
</style>
